/* SLIDER */
.main-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  position: relative;
}

.movie-banner {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 20%, transparent 100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.banner-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 40px;
  width: 100%;
  padding: 20px 50px;
}

.main-poster {
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  display: block;
}

.movie-details {
  flex-grow: 1;
  position: relative;

  padding-bottom: 5px;
}

.movie-title {
  font-size: 32px;
  margin: 0 0 15px 0; /* Только отступ снизу */
}

.stats {
  display: flex;
  gap: 20px;
  color: #ccc;
  margin-bottom: 15px;
  font-size: 14px;
  align-items: center; /* Чтобы иконки и текст стояли ровно */
}

.tagline {
  font-style: italic;
  color: #ddd;
  max-width: 600px;
  margin: 0; /* Убираем стандартный margin */
  line-height: 1.5;
}

.watchlist-add {
  position: absolute;
  right: 0;
  bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.watchlist-add img {
  width: 120px;
  filter: invert(1);
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 20px;
}
.arrow-btn img {
  width: 60px;
  filter: invert(1);
}

.arrow-btn.right img{
  transform: rotate(180deg);
}


.section-title {
  padding-left: 150px;
}
