<h2 class="section-title">Popular movies</h2>

@if (currentMovie) {
  <div class="main-slider">

    <button class="arrow-btn left" (click)="prevMovie()">
      <img src="../../../assets/Icons/left-arrow.png" alt="<">
    </button>

    <div class="movie-banner" [style.backgroundImage]="'url(' + currentMovie.backdrop + ')'"
    [class.fading]="isFading">
      <div class="overlay">
        <div class="banner-inner">

          <div class="poster-container">
            <img [src]="currentMovie.poster" class="main-poster">
          </div>

          <div class="movie-details">
            <div class="title-wrapper">
              <h1 class="movie-title">{{ currentMovie.title }} ({{ currentMovie.year }})</h1>
              <button class="watchlist-add" (click)="toggleWatchlist()">
                @if (!currentMovie.inWatchlist) {
                  <img src="../../../assets/Icons/bookmark.png" alt="+">
                } @else {
                  <img src="../../../assets/Icons/wishlist.png" alt="v">
                }
              </button>
            </div>
            <div class="stats">
              <span>{{ currentMovie.duration }}</span>
              <span>❤️ {{ currentMovie.likes }}</span>
              <span>⭐ {{ currentMovie.rating }}</span>
            </div>
            <p class="tagline">{{ currentMovie.short_description }}</p>

          </div>

        </div>
      </div>
    </div>

    <button class="arrow-btn right" (click)="nextMovie()">
      <img src="../../../assets/Icons/left-arrow.png" alt=">">
    </button>

  </div>
}
