.catalog{

}

.top{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.sort{
    position: relative;
}

.sort__inner{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sort.active .sort__list{
    display: block;
}

.sort__list{
    display: none;
    width: 100px;
    position: absolute;
    top: 100%;
}

.sort__item{
    padding: 5px 0;
}

.order{
    color: var(--second-color);
    font-weight: 500;
}

.genres{
    display: flex;
    gap: 20px;
}

.genre{
    display: flex;
    gap: 10px;
}

.title{
    font-size: 24px;
}


.movies{
    padding: 50px 0;
}