<div class="details">
    @if (movie) {
        <div class="movie__content">
            <div class="movie__img">
                <img [src]="movie.poster"
                     alt="">
            </div>
            <div class="movie__info">
                <div class="info__top">
                    <div class="movie__title">{{ movie.title }}</div>
                    <app-rating [rating]="7.8"/>
                </div>
                <div class="movie__details">
                    <div class="movie__genres">
                        @for (genre of movie.categories; track genre.id) {
                            <div class="genre">{{ genre.name }}</div>
                        }
                    </div>
                    <div class="movie__duration">{{ movie.duration }}</div>
                </div>
                <div class="movie__desc">
                    {{ movie.description }}
                </div>
            </div>
        </div>
    }


    <div class="title__wrapper">
        <app-section-title title="Actors"/>
    </div>
    @if (movie?.actors && !loading) {
        <app-actor-list [actors]="movie?.actors || []"/>
    }

    <div class="title__wrapper">
        <app-section-title title="Trailer"/>
    </div>

    <div class="trailer">
        <div class="trailer__video">
            @if (movie?.videoUrl) {
                <video controls>
                    <source [src]="movie?.videoUrl">
                </video>
            } @else {
                <div class="error"></div>
            }
        </div>
    </div>

    <div class="title__wrapper">
        <app-section-title title="Reviews"/>
    </div>

    <app-reviews-list/>
</div>
