/* Настройки для самого корневого элемента Angular */
:host {
  display: flex;
  flex-direction: column;
}

/* Настройки для контейнера страниц */
.main-layout {
  flex-grow: 1; /* Забирает всё оставшееся пространство под шапкой */
  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 100%;   /* Центрируем по горизонтали */
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}