/* Настройки для самого корневого элемента Angular */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Все приложение занимает 100% экрана */
}

/* Настройки для контейнера страниц */
.main-layout {
  flex-grow: 1; /* Забирает всё оставшееся пространство под шапкой */
  display: flex;
  flex-direction: column;

  /* ВОТ ЭТА СТРОЧКА — магия, которая убивает Margin Collapse.
     Она не даст отступам (margin) со страниц вылезать на шапку */
  overflow: hidden;
}
