<div class="home-page">

  <header class="navbar">
    <div class="logo">
      <img src="assets/Logo/MovieApp1.png" alt="" class="logo-icon"> <span class="logo-text">MovieApp</span>
    </div>
    <div class="nav-right">
      <div class="nav-links">
        <a href="#"><span class="icon">🔍</span> Search</a>
        <a href="#"><span class="icon">🔖</span> Watchlist</a>
        <a href="#"><span class="icon">👥</span> Categories</a>
        <a href="#"><span class="icon">ℹ️</span> About us</a>
      </div>
      <button class="sign-in">Sign In</button>
    </div>
  </header>

  <main class="content">
    <h2 class="section-title">Popular movies</h2>

    @if (currentMovie) {
      <div class="main-slider">

        <button class="arrow-btn left" (click)="prevMovie()">
          <img src="assets/Icons/left-arrow.png" alt="<">
        </button>

        <div class="movie-banner" [style.backgroundImage]="'url(' + currentMovie.backdrop + ')'">
          <div class="overlay">
            <div class="banner-inner">

              <div class="poster-container">
                <img [src]="currentMovie.poster" class="main-poster">
              </div>

              <div class="movie-details">
                <h1 class="movie-title">{{ currentMovie.title }} ({{ currentMovie.year }})</h1>
                <div class="stats">
                  <span>{{ currentMovie.duration }}</span>
                  <span>❤️ {{ currentMovie.likes }}</span>
                  <span>⭐ {{ currentMovie.rating }}</span>
                </div>
                <p class="tagline">{{ currentMovie.short_description }}</p>

                <button class="watchlist-add" (click)="toggleWatchlist()">
                  @if (!currentMovie.inWatchlist) {
                    <img src="assets/Icons/bookmark.png" alt="+">
                  } @else {
                    <img src="assets/Icons/wishlist.png" alt="v">
                  }
                </button>
              </div>

            </div>
          </div>
        </div>

        <button class="arrow-btn right" (click)="nextMovie()">
          <img src="assets/Icons/left-arrow.png" alt=">">
        </button>

      </div>
    }
  </main>
</div>
