.actors__item{
    position: relative;
}

.actors__img{
    height: 200px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__placeholder{
    width: 150px;
    height: 100%;
    object-fit: cover;
    background-color: #4A4A4A;
    border-radius: 10px;
}

.actors__title{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}