<header class="navbar">
  <img src="../../../assets/Logo/MovieApp1.png" alt="" class="logo-icon">
  <div class="nav-right">
    <div class="nav-links">
      <a href="#"><img src="../../../assets/Icons/search.png" alt="Search" style="width: 20px;"> Search</a>
      <a href="#"><img src="../../../assets/Icons/wishlist.png" alt="Watchlist" style="width: 20px;"> Watchlist</a>
      <a href="#"><img src="../../../assets/Icons/category.png" alt="Categories" style="width: 20px;"> Categories</a>
      <a href="#"><img src="../../../assets/Icons/info-button.png" alt="About us" style="width: 20px;"> About us</a>
    </div>
    <button class="sign-in">
      <img src="../../../assets/Icons/log-in.png" alt="" style="width: 16px; margin-right: 5px;"> Sign in
    </button>
  </div>
</header>
