<div class="slider-section">
  <div class="section-header">
    <div class="header-left">
      <div class="yellow-bar"></div>
      <h2>{{ title }}</h2>
      <a [routerLink]="viewAllLink" [queryParams]="queryParams" class="view-all-btn">
        View All <img src="assets/Icons/right-arrow.png" alt=">">
      </a>
    </div>
  </div>

  <div class="slider-container">
    <button class="nav-btn prev-btn" (click)="prev()" [disabled]="currentIndex === 0">
      <img src="assets/Icons/left-arrow.png" alt="Prev">
    </button>

    <div class="items-track" [class.fading]="isFading" [class.show]="!fading">
      @for (item of visibleItems; track item.id) {
        <div class="item-card">
          @if (itemTemplate) {
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item }">
            </ng-container>
          } @else {
            <p style="color: red;">No template provided!</p>
          }

        </div>
      }
    </div>

    <button class="nav-btn next-btn" (click)="next()" [disabled]="currentIndex + itemsToShow >= items.length">
      <img src="assets/Icons/left-arrow.png" alt="Next">
    </button>
  </div>
</div>